.mainsection {
    background-color: #ff0000;

}
.container{
       max-width: 1200px;
    margin: 0 auto;
    padding-bottom: 30px;
}
.container h1{
    padding-top: 30px;
}

.containerVisCont{
    width: 100%;
    display: flex;
    justify-content: space-between;
    gap: 60px;
}